.country{
    text-align: left;
    font-size: 12px;
    border: 1px solid black;
    display: flex;
    border-radius: 10px;
    margin-bottom: 3px;
}
.country:hover{
    box-shadow: 3px -2px 21px 5px rgba(27,28,27,0.65);
}
.country:active{
    box-shadow: 3px -2px 21px 5px rgba(27,28,27,0.65);
    background: #75ff81;
}

.countriesTxt{
    margin: 0px;
    padding: 5px;
    font-size: 18px;
}
.img{
    width: 70px;
    border-radius: 10px;
    margin: 5px;
}