.blocks{
    display: flex;
}
.countries{
    width: 30%;
    padding: 5px;
}
.list{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}
.countries h5{
    margin: 0px;
    padding: 20px;
    font-size: 20px;
}
.countryInfo{
    width: 69%;
}
.countryInfo h5{
    margin: 0px;
    padding: 20px;
    font-size: 20px;
}