.blocks{
    display: flex;
}
.countries{
    width: 30%;
}
.countries h5{
    border: 1px solid black;
    margin: 0px;
    padding: 20px;
    border-bottom: none;
}
.countryInfo{
    border: 1px solid black;
    border-left: none;
    width: 69%;
}
.countryInfo h5{
    border-bottom: 1px solid black;
    margin: 0px;
    padding: 20px;
}